.login {
  background-color: #d4d4d4;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 1341px;
  padding: 146px 80px;
  position: relative;
}

.backgroundImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  position: absolute;
  inset: 0;
}

.formContainer {
  background-color: #f0efef;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 504px;
  max-width: 100%;
  margin-bottom: -29px;
  padding: 60px 37px 23px;
  position: relative;
}

.logo {
  aspect-ratio: 3.29;
  object-fit: contain;
  object-position: center;
  width: 100%;
  margin-left: 32px;
  margin-right: 33px;
}

@media (width <= 991px) {
  .container {
    max-width: 100%;
    padding: 100px 20px;
  }

  .formContainer {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    margin-left: 10px;
    margin-right: 10px;
  }
}
