.googleText {
  flex: 1;
}

.googleButton {
  color: #080a0b;
  text-align: center;
  background-color: #f4f6f8;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 62px;
  margin-top: 8px;
  padding: 10px 24px;
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  width: 100%;
}
