.fondoBibliotecaSillas {
  background-image: url('/FondoBibliotecaSillas.png');
  width: 100%;
  min-height: 425px;
  background-size: cover; /* o cover, según prefieras */
  background-position: left center; /* <- clave para pegarla a la izquierda */
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
  align-items: center;
  padding: 0; /* quita márgenes internos que alejan la imagen */
  margin: 0; /* por si hay márgenes externos */
  position: relative; /* <-- clave para posicionar elementos hijos */
}

.botonWrapper {
  position: absolute;
  top: 50%; /* Puedes ajustar este valor */
  margin-left: 10rem; /* Ajusta según lo cerca que lo quieras del borde izquierdo */
  transform: translateY(-50%); /* Centra verticalmente */
  z-index: 2; /* Asegura que esté por encima de la imagen */
}

.botonAzul {
  background: linear-gradient(to right, #133158, #274b8a);
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.botonAzul:hover {
  transform: scale(1.05);
}

.iconoBoton {
  font-size: 1.5rem;
}
