.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.title {
  color: #000;
  text-align: center;
  align-self: center;
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 15px;
}

.row > div {
  flex: 1;
}

.submitButton {
  color: #ebecf0;
  text-align: center;
  background-color: #ee9a12;
  border-radius: 8px;
  margin-top: 20px;
  padding: 12px;
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(1, 11, 253, 0.1);
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #e08a0a;
}

.footer {
  margin-top: 15px;
  align-self: center;
}

.registerText {
  color: #9d9d9d;
  letter-spacing: -0.24px;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
}

.registerLink {
  color: #ff6b35;
  font-weight: 800;
  padding: 4px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

@media (width <= 768px) {
  .row {
    flex-direction: column;
    gap: 12px;
  }

  .title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.errorText {
  color: #d32f2f; /* Un rojo vibrante para indicar error */
  font-size: 0.875rem; /* Un tamaño de fuente un poco más pequeño para errores */
  margin-top: 5px; /* Espacio superior para separarlo del elemento de arriba */
  margin-bottom: 10px; /* Espacio inferior para separarlo del botón */
  text-align: center; /* Centrar el texto del error */
  background-color: #ffebee; /* Un fondo muy claro para resaltar */
  border: 1px solid #ef9a9a; /* Un borde sutil para enmarcarlo */
  padding: 8px 12px; /* Espaciado interno */
  border-radius: 4px; /* Bordes ligeramente redondeados */
  width: 100%; /* Ocupar el ancho completo del contenedor */
  box-sizing: border-box; /* Incluir padding y border en el ancho total */
}
