.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  color: #000;
  text-align: center;
  align-self: center;
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.submitButton {
  color: #ebecf0;
  text-align: center;
  background-color: #ee9a12;
  border-radius: 8px;
  margin-top: 10px;
  padding: 13px 70px;
  font-family: Poppins, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 12px 24px #010bfd1f;
  border: none;
  cursor: pointer;
}

.footer {
  margin-top: 10px;
  align-self: center;
}

.registerText {
  color: #9d9d9d;
  letter-spacing: -0.24px;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
}

.registerLink {
  color: #ff6b35;
  font-weight: 800;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (width <= 991px) {
  .title {
    margin-top: 40px;
  }

  .submitButton {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.errorText {
  color: #d32f2f; /* Un rojo vibrante para indicar error */
  font-size: 0.875rem; /* Un tamaño de fuente un poco más pequeño para errores */
  margin-top: 20px; /* Espacio superior para separarlo del elemento de arriba */
  text-align: center; /* Centrar el texto del error */
  background-color: #ffebee; /* Un fondo muy claro para resaltar */
  border: 1px solid #ef9a9a; /* Un borde sutil para enmarcarlo */
  padding: 8px 12px; /* Espaciado interno */
  border-radius: 4px; /* Bordes ligeramente redondeados */
  width: 100%; /* Ocupar el ancho completo del contenedor */
  box-sizing: border-box; /* Incluir padding y border en el ancho total */
}